body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    touch-action: none; /* Prevent touch interactions from triggering browser actions */
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000; /* Canvas background color */
}

#joystick-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    /* Adjust the size and position as needed */
}
