html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;        /* Prevents scrolling */
    touch-action: none;      /* Disables default touch behaviors */
    height: 100%;
    width: 100%;
    background-color: #000;  /* Ensures background covers full screen */
    user-select: none;       /* Prevents text selection */
}


#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
}

#joystick-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
}
