body {
    margin: 0;
    overflow: hidden;
    touch-action: none;
    background-color: #000;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
}

#joystick-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
}
